<div ng-show="!loading && !success">
    <div class="col-lg-6">
        <h1>Submit new problem</h1>
        <form ng-submit="newProblem(addressFrom, contractAddress, description)">
            <div class="form-group">
                <label for="addressFrom">Your address</label>
                <select ng-model="addressFrom" id="addressFrom">
                    <option ng-repeat="account in accounts">{{account}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="contractAddress">Problem contract address</label>
                <input type="text" class="form-control" id="contractAddress" placeholder="0x123.." ng-model="contractAddress">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" placeholder="describe the problem and I/O format" ng-model="description">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>
</div>

<div ng-show="error">
    <div class="alert alert-warning" role="alert">{{error}}</div>
</div>
<div ng-show="loading">
    <div class="alert alert-notice" role="alert">Loading...</div>
</div>
<div ng-show="success">
    <div class="alert alert-success" role="alert">Success!</div>
</div>
